.DogLink {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lavender;
	border-radius: 10px;
}

.DogLink img {
	max-width: 1000px;
	max-height: 1000px;
	border-radius: 50%;
}
